In [27]:
import pandas as pd
import numpy as np
import math
import statistics
from scipy.stats import ttest_ind, norm

In [28]:
data = pd.read_csv('machine.csv',sep=";")

In [29]:
data

   New machine      Old machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5
5         42.8             43.5
6         43.2             43.1
7         42.3             41.7
8         41.8             44.0
9         42.7             44.1

We will have another simple example on two sample t test (pooled- when the variances are equal). But this time this is a one sided t-test
In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/machine.txt. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other

In [30]:
data.describe()

       New machine      Old machine
count    10.000000        10.000000
mean     42.140000        43.230000
std       0.683455         0.749889
min      41.000000        41.700000
25%      41.800000        42.800000
50%      42.200000        43.400000
75%      42.625000        43.750000
max      43.200000        44.100000

In [31]:
data.columns

Index(['New machine', '    Old machine'], dtype='object')

In [32]:
data.rename(columns = {'    Old machine':'Old machine'}, inplace = True)

In [33]:
sample_mean1 = data["New machine"].mean()
sample_mean2 = data["Old machine"].mean()
sample_std1 = data["New machine"].std()
sample_std2 = data["Old machine"].std()
n1 = len(data["New machine"])
n2 = len(data["Old machine"])

pop_mean = data["New machine"].mean()+data["Old machine"].mean()
pop_std = data["New machine"].std()+data["Old machine"].std()
n = len(data["New machine"])+len(data["Old machine"])

statistic1 = (sample_mean1 - pop_mean)/(pop_std/math.sqrt(n))
statistic2 = (sample_mean2 - pop_mean)/(pop_std/math.sqrt(n))

In [34]:
print("Statistic1 is: ", statistic1)
print("Statistic2 is: ", statistic2)

Statistic1 is:  -134.8806821799226
Statistic2 is:  -131.47980446592499

In [38]:
new_machine = data['New machine']

In [39]:
new_machine

0    42.1
1    41.0
2    41.3
3    41.8
4    42.4
5    42.8
6    43.2
7    42.3
8    41.8
9    42.7
Name: New machine, dtype: float64

In [40]:
old_machine = data['Old machine']

In [41]:
ttest_ind(new_machine,old_machine)

Ttest_indResult(statistic=-3.3972307061176026, pvalue=0.0032111425007745158)

We reject the null hypothesis.
We can say with 95% of confidence that we have enough evidence to discard the null hypothesis.
Both machines dont pack at the same speed